.specialist-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}
.specialist-name{
    font-size: 24px;
    font-weight: 400;
    color: #1B3C74 ;
    line-height: 48px;
}
.specialist-specialisation{
    font-size: 17px;
    font-weight: 500;
    color: #2AA7FF;
}
@media screen and (max-width : 789px) {
    .specialist-name{
        font-size: 17px;
    }
}