.specialisations{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 62px;
    margin-top: 56px;
}
.subsection-title{
    font-size: 48px;
    font-weight: 600px;
    text-align: center;
    color: #1B3C74  ;
}
.specialisation-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.specialisation-item{
    width: 270px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 22px 70px;
    background-color: #ffffff;
    border-radius: 10px;
}
.specialisation-item:hover{
    background-color: rgb(241, 236, 236);
    cursor: pointer;
}
.specialisation-img{
    max-width: 80px;
    max-height: 80px;
}
.specialisation-type{
    font-size: 18px;
    font-weight: 500;
    color: #ABB6C7;
    text-align: center;
    line-height: 27px;
}
@media screen and (max-width:1025px) {
    .specialisation-item {
        width: 121px;
        height: 147px;
        padding: 22px;
    }
    .specialisation-img {
        max-width: 48px;
        max-height: 48px;
    }
}