.search-section{
    display: flex;
    justify-content: center;
    gap: 92px;
    flex-wrap: wrap;
}
.input-field{
    display: flex;
    width: 285px;
    height: 50px;
    border-radius: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 5px 15px;
    border: 1px solid #F0F0F0;
}
.location-marker{
    height: 24px;
    width: 24px;
}
.input-value{
    border: none;
}
.input-value:focus {
    outline: none;
}
.search-btn{
    width: 121px;
    height: 50px;
    display: flex;
    background-color: #2AA8FF;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 8px;
    text-decoration: none;
}
.search-btn:hover{
    cursor: pointer;
}
@media screen and (max-width:1065px){
    .search-section{
        gap: 15px;
    }
}