.expand-img{
    width: 16px;
    height: 16px;
}
.expand-icon{
    position: relative;
}
.expand-plus{
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 1px;
    left: 9px;
}
.accordian-heading{
    background-color: #ffffff;
}
.accordian-text-container{
    background-color: rgb(158, 153, 153);
}
.heading-text{
    font-size: 18px;
    font-weight: 600;   
    color: #1B3C74;
}
.accordian-text{
    font-size: 18px !important;
    font-weight: 500 !important;
    color: var(--color-white) !important;
    opacity: 0.3;
}